.storyReel {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
  max-width: 500px;
}

.storyReel::-webkit-scrollbar {
}

@media only screen and (max-width: 767px) {
  .storyReel {
    padding: 20px;
    left: 5px;
    max-width: 350px;
  }
  .storyReel::-webkit-scrollbar {
    display: none;
  }
}
