.postVideos {
  width: 100%;
  margin-top: 10px;
  border-radius: 15px 0 0;
  background-color: white;
  box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

.postVideos__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
}

.postVideos__avatar {
  margin-right: 10px;
}
.postVideos__topInfo > h3 {
  font-size: medium;
  margin: 0;
}

.postVideos__topInfo > p {
  font-size: smaller;
  color: gray;
}
.postVideos__bottom {
  /* margin-top: 10px;
    margin-bottom: 10px; */
  padding: 15px 25px;
}
.postVideos__image > img {
  width: 100%;
}

.postVideos__options {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: gray;
  padding: 0;
  cursor: pointer;
}

.postVideos__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 1 1;
}

.postVideos__option > p {
  margin-left: 10px;
}

.postVideos__option:hover {
  background-color: #eff2f5;
  /* border-radius: 10px; */
}
.commentForm {
  display: flex;
}

.commentForm > .MuiInput-root {
  flex: 1;
}

.video {
    width: 100%;
}

@media only screen and (max-width: 767px) {
  .video {
    width: 100%;
  }
  .postVideos__options {
    cursor: none !important; 
  }
}
